body {
    color: white;
    background-color: #0E0C13;
    overflow: scroll;
}

li{
    margin-top: 02%;
}

h1 {
    color: #084BCF;
}

.botoes a {
    margin-right: 5%;
}

.placar, .erroAjax, #spinner {
    display: none;
}

.frase {
    font-size: 150%;
}

.informacoes {
    margin-top: 5%;
}

.icons {
    vertical-align: middle;
}

.campoDigitacao {
    height: 30%;
    font-size: 130%;
    border: 3px solid #084BCF;
}

.campoDesativado {
    opacity: 0.25;
}

.textoCerto {
    border: 3px solid #6BBF78;
}

.textoErrado {
    border: 3px solid #DE323B;
}

.erroAjax{
    color: #DE323B;
    font-size: 130%;
}

#idFrase {
    width: 10%;
}