body {
    color: white;
    background-color: #0E0C13;
}


li{
    margin-top: 02%;
}

.frase {
    font-size: 150%;
}

.icons {
    vertical-align: middle;
}

.campoDigitacao {
    height: 30%;
    font-size: 130%;
    border: 3px solid #084BCF;
}

.campoDesativado {
    opacity: 0.25;
}

.textoCerto {
    border: 3px solid #6BBF78;
}

.textoErrado {
    border: 3px solid #DE323B;
}